<% provide(:title, "About") %>

<h1>About</h1>
<p>
A time keeping application for independent contractors to keep better track of how much time they've dedicated to projects.</p>
<p>This app was built for <a href="http://www.instagram.com/atelieroliphant"><em>Atelier Oliphant</em></a>
</p>
