<% provide(:title, "Contact") %>

<h1>Contact</h1>
<p>
  Developer: <a href="mailto:kilted.dev@gmail.com"><em>Thomas Wilson</em></a> is an independent Junior Developer specializing in Ruby on Rails web applications.
</p>
