<div class="center jumbotron">
  <% if current_user %>
    <h3>Welcome back</h3>
    <h3><%= "#{current_user.nickname}"%></h3>
  <% else %>
    <h1>Welcome friend</h1>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  <p>
    This is the home page for the Stitch in Time app.
  </p>
</div>

<i class="fa fa-hourglass-start"></i>
