<div class="center jumbotron">
  <% if current_user %>
    <h3>Welcome back</h3>
    <h3><%= "#{current_user.nickname}"%></h3>
  <% else %>
    <h1>Welcome friend</h1>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  <p>
    This app was developed to allow independent makers to keep track of their time worked on individual projects.
  </p>
</div>
