<div class="container text-center">
  <h1><%= link_to @punch.project.name, project_path(@project), class: "project-link" %></h1>
  <div class="col-6">
    <div class="col-12">
      <div class="clock-screen">
      <% if @punch.active? %>
        <span><%= render 'shared/timer'  %></span>
      <% else %>
          <span><%= @pretty_time %></span>
      <% end %>
      </div
    </div>
    <div class="col-12">
      <span><%= @project.description %></span>
    </div>
  </div>
</div>
