<% if punch.active? %>
  <%= link_to edit_punch_path(id: punch), class: "list-group-item list-group-item-danger  clickable-text" do %>
    <h2 class="h3"><small> <%= punch.marker %></small></h2>
  <% end %>
<% else %>
  <%= link_to edit_punch_path(id: punch), class: "list-group-item clickable-text" do %>
    <h2 class="h3"><small> <%= punch.marker %></small></h2>
  <% end %>
<% end %>
