<% provide(:title, @project.name) %>
<div class="row">
  <section class="project_info">
    <%= render 'punch_info' %>
  </section>
  <% if @punch.active? %>
    <section class="punch_out_form">
      <%= render 'shared/punch_out_form' %>
    </section>
  <% else %>
    <div class="col-sm-8">
      <%= render 'punch_card' %>
    </div>
  <% end %>
</div>
