<% provide(:title, "Task") %>
<div class="row">
  <aside class="col-sm-4">
    <section class="project_info">
      <%= render 'shared/project_info' %>
    </section>
  </aside>
  <div class="col-sm-8">
    <%= render 'punch_card' %>
  </div>
</div>
