<div class="row text-center">
  <%- if devise_mapping.omniauthable? %>
    <%= button_to user_google_oauth2_omniauth_authorize_path, class: "loginBtn loginBtn--google" do %>
      Login with Google
    <% end %>
  <% end -%>

  <div class="loginOr">
    <div class="col-xs-12 text-center">
      <hr class="hrOr">
      <span class="spanOr">or</span>
    </div>
  </div>
</div>
