<div class="col-12 text-center">
  <%= button_to punch_out_path(id: @punch, method: :put), class:"btn btn-danger btn-circle btn-xl", id: "punch-out" do %>
  <i class="fa fa-hourglass-end"></i>
  <% end %>
</div>
