<footer class="footer">
  <small>
    The <a href="#">Stitch in Time app</a>
    by <a href="#">Thomas Wilson</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://crooked.com/podcast-series/pod-save-america/">News</a></li>
    </ul>
  </nav>
</footer>
