<footer class="footer text-muted">
  <div class="container">
    <small>
      The Stitch in Time app
      by <a href="linkedin.com/in/thomas-g-wilson/">Thomas Wilson</a>
    </small>
    <div class="container-fluid text-center text-md-left">
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><a href="https://crooked.com/podcast-series/pod-save-america/">News</a></li>
      </ul>
    </div>
  </div>
</footer>
